
data/ess_data/ESS1e06_6.dta
data/ess_data/ESS2e03_6.dta
data/ess_data/ESS3e03_7.dta
data/ess_data/ESS4e04_5.dta
data/ess_data/ESS5e03_4.dta
data/ess_data/ESS6e02_4.dta
data/ess_data/ESS7e02_2.dta
data/ess_data/ESS8e02_2.dta
data/ess_data/ESS9e03_1.dta
